.ButtonDiv {
  display: flex;
  flex-direction: column;
}
.ButtonDiv > * {
  padding: 5px;
  margin: 10px;
  font-size: 2em;
  border: 2px solid grey  ;
  border-radius: 5px;
  text-align: center;
  color: black;
}
.MainHolder{
  width:100%;
  height: 100%;
  position: fixed;
}